In [1]:
import pandas as pd
import numpy as np

In [2]:
X_train = pd.read_csv('train.csv').drop(columns=['Survived'])
y_train = pd.read_csv('train.csv')['Survived']

X_test = pd.read_csv('test.csv')

In [3]:
X_train.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
X_train['Has_age'] = X_train['Age'].notnull().astype(int)
X_test['Has_age'] = X_test['Age'].notnull().astype(int)

In [5]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Pclass       891 non-null    int64
 2   Name         891 non-null    object
 3   Sex          891 non-null    object
 4   Age          714 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Ticket       891 non-null    object
 8   Fare         891 non-null    float64
 9   Cabin        204 non-null    object
 10  Embarked     889 non-null    object
 11  Has_age      891 non-null    int32
dtypes: float64(2), int32(1), int64(4), object(5)
memory usage: 80.2+ KB

In [6]:
X_train_0 = X_train.drop(columns=['PassengerId', 'Name', 'Ticket', 'Cabin'])
X_test_0 = X_test.drop(columns=['PassengerId', 'Name', 'Ticket', 'Cabin'])
#replace all the nan in age with the average of the column
X_train_0['Age'] = X_train_0['Age'].fillna(X_train_0['Age'].mean())
X_test_0['Age'] = X_test_0['Age'].fillna(X_test_0['Age'].mean())
X_train_0['Fare'] = X_train_0['Fare'].fillna(X_train_0['Fare'].mean())
X_test_0['Fare'] = X_test_0['Fare'].fillna(X_test_0['Fare'].mean())

In [7]:
X_train_0.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked  Has_age
0       3    male  22.0      1      0   7.2500        S        1
1       1  female  38.0      1      0  71.2833        C        1
2       3  female  26.0      0      0   7.9250        S        1
3       1  female  35.0      1      0  53.1000        S        1
4       3    male  35.0      0      0   8.0500        S        1

In [8]:
X_train_0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Sex       891 non-null    object
 2   Age       891 non-null    float64
 3   SibSp     891 non-null    int64
 4   Parch     891 non-null    int64
 5   Fare      891 non-null    float64
 6   Embarked  889 non-null    object
 7   Has_age   891 non-null    int32
dtypes: float64(2), int32(1), int64(3), object(2)
memory usage: 52.3+ KB

In [9]:
X_test_0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    418 non-null    int64
 1   Sex       418 non-null    object
 2   Age       418 non-null    float64
 3   SibSp     418 non-null    int64
 4   Parch     418 non-null    int64
 5   Fare      418 non-null    float64
 6   Embarked  418 non-null    object
 7   Has_age   418 non-null    int32
dtypes: float64(2), int32(1), int64(3), object(2)
memory usage: 24.6+ KB

### Data Standard Scaling

In [10]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

pipeline = ColumnTransformer(
    [
        ("OneHot", OneHotEncoder(drop='if_binary', handle_unknown='ignore'), ['Sex', 'Embarked', 'Has_age', 'Pclass']),
        ("StandardScaler", StandardScaler(), ['Age', 'SibSp', 'Parch', 'Fare'])
    ],
    remainder='passthrough',
    verbose=True,
    verbose_feature_names_out=True
)

X_train_0 = pipeline.fit_transform(X_train_0)
X_test_0 = pipeline.transform(X_test_0)

[ColumnTransformer] ........ (1 of 2) Processing OneHot, total=   0.0s
[ColumnTransformer]  (2 of 2) Processing StandardScaler, total=   0.0s

In [11]:
pd.DataFrame(X_train_0).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       891 non-null    float64
 1   1       891 non-null    float64
 2   2       891 non-null    float64
 3   3       891 non-null    float64
 4   4       891 non-null    float64
 5   5       891 non-null    float64
 6   6       891 non-null    float64
 7   7       891 non-null    float64
 8   8       891 non-null    float64
 9   9       891 non-null    float64
 10  10      891 non-null    float64
 11  11      891 non-null    float64
 12  12      891 non-null    float64
dtypes: float64(13)
memory usage: 90.6 KB

In [12]:
pd.DataFrame(X_test_0).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       418 non-null    float64
 1   1       418 non-null    float64
 2   2       418 non-null    float64
 3   3       418 non-null    float64
 4   4       418 non-null    float64
 5   5       418 non-null    float64
 6   6       418 non-null    float64
 7   7       418 non-null    float64
 8   8       418 non-null    float64
 9   9       418 non-null    float64
 10  10      418 non-null    float64
 11  11      418 non-null    float64
 12  12      418 non-null    float64
dtypes: float64(13)
memory usage: 42.6 KB

In [13]:
#Decision Tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV

param_grid = {
    'criterion': ['gini', 'entropy', 'log_loss']
}

grid_search = GridSearchCV(DecisionTreeClassifier(), param_grid, cv=10, verbose=3, n_jobs=-1, scoring='f1')
grid_search.fit(X_train_0, y_train)

Fitting 10 folds for each of 3 candidates, totalling 30 fits

GridSearchCV(cv=10, estimator=DecisionTreeClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy', 'log_loss']},
             scoring='f1', verbose=3)

In [14]:
dt = DecisionTreeClassifier(**grid_search.best_params_)

In [15]:
dt.fit(X_train_0, y_train)

DecisionTreeClassifier()

In [16]:
prediction = dt.predict(X_train_0)

In [17]:
from sklearn.metrics import accuracy_score
accuracy_score(y_train, prediction)

0.9820426487093153

In [18]:
from sklearn.metrics import classification_report
print(classification_report(y_train, prediction))

              precision    recall  f1-score   support

           0       0.98      1.00      0.99       549
           1       0.99      0.96      0.98       342

    accuracy                           0.98       891
   macro avg       0.98      0.98      0.98       891
weighted avg       0.98      0.98      0.98       891

In [19]:
submission = pd.read_csv('gender_submission.csv')
submission['Survived'] = dt.predict(X_test_0)
submission.to_csv('submission.csv', index=False)